    <div class="container" style="display:inline-block; max-width:100%" style= color:red>
      <div id="left-footer">
        <br>
        <br>
        <h5 class="m-0 text-center text-white" text style="background-color:red;"> The KikBack &copy; 2019</h5>
      </div>


      <!-- social icons -->
      <div id="right-footer">
        <ul class="social-icon">
          <li><a href="https://www.facebook.com/Thekikback/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li><a href="https://www.instagram.com/thekikback/?hl=en"><i class="fa fa-instagram"
                aria-hidden="true"></i></a></li>
        </ul>
        <!-- </social icons> -->
      </div>

  


