<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1" class=""></li>
          <li data-target="#demo" data-slide-to="2" class=""></li>
          <li data-target="#demo" data-slide-to="3" class=""></li>
          <li data-target="#demo" data-slide-to="4" class=""></li>
          <li data-target="#demo" data-slide-to="5" class=""></li>
          <li data-target="#demo" data-slide-to="6"></li>
        </ul>
<!-- ----------------------------------------------- -->
<!-- ----------------------------------------------- -->
<!-- ----------------------------------------------- -->

        <carousel>
          <slide>
              <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/66148605_2436023409962763_32701868106842112_n.jpg?_nc_cat=100&amp;_nc_oc=AQnJ_j2jBTxZ8jXR3zR8EwFSQ7RGYhGqnTu8EgG0FQz7i7nSXTs4Jsc9x6G49hL-B2A&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=584a89c70b46099b0a24311f9db0273d&amp;oe=5DC7DE0A" alt="Jordan 1">

          </slide>
          <slide>
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/66676972_2440025046229266_6444043161391071232_n.jpg?_nc_cat=103&amp;_nc_oc=AQnOkY4H9M2Tw1DFfYpqIEybT3kIxqJ0YLf6zw0G0W_Q1zs0XVJXe9z9W50pPlW4eck&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=b6401c945fb6959056230e3585ab5051&amp;oe=5DD739FE" alt="Thekikbak">
          </slide>
          <slide>
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/64353726_2418537965044641_7481307548973268992_n.jpg?_nc_cat=101&amp;_nc_oc=AQk5tJjtHXHiGwewkwusi-6HrtbHOMz8y8vZCFesPG0CdESztVKJAgeNqMF7cjzEfpY&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=575afba58ab2f892a9e5f15d12b8d932&amp;oe=5DD5B163" alt="Shoes">
          </slide>
          <slide>
              <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/60548002_2395437714021333_721292925039804416_n.jpg?_nc_cat=107&amp;_nc_oc=AQlB6TsvW1h1Tr1RvKVnobvbnpH-0TAPRMb3QDRlCzMlLVP1xD1-sOeNWzUciyMJQUo&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=c5949000e13bd1c64221768445f6b02a&amp;oe=5DEAD0C4" alt="yeezy">

          </slide>
          <slide>
              <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/58682416_2385013675063737_4177971085481869312_n.jpg?_nc_cat=101&amp;_nc_oc=AQkoZXuRYXKhKtcGmScJ7e9M8nXhJYsD_BTUj8qB1u5z5xlg0Mwd9LNjhjRSjffVhHc&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=4a9696b33ae4cfa3b8001dc9b784360c&amp;oe=5DE1BDF0" alt="Back t-shirt logo">

          </slide>
         


        </carousel>
<!-- ----------------------------------- -->
        
    <hr>
    <iframe width="1200" height="850" src="https://www.youtube.com/embed/uVUeBOuI8Ik" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>


    <hr>
  <app-tkbsteals></app-tkbsteals>
  <carousel [itemsPerSlide]="itemsPerSlide"
  [singleSlideOffset]="false"
  [interval]="false"
  [indicatorsByChunk]="true">
<slide *ngFor="let slide of slides; let index=index">
<img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
<div class="carousel-caption">
<h4>Slide {{index}}</h4>
</div>
</slide>
</carousel>
 
    


<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->

<!--  -->