<div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1" class=""></li>
          <li data-target="#demo" data-slide-to="2" class=""></li>
          <li data-target="#demo" data-slide-to="3" class=""></li>
          <li data-target="#demo" data-slide-to="4" class=""></li>
          <li data-target="#demo" data-slide-to="5" class=""></li>
          <li data-target="#demo" data-slide-to="6"></li>
        </ul>


        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/66676972_2440025046229266_6444043161391071232_n.jpg?_nc_cat=103&amp;_nc_oc=AQnOkY4H9M2Tw1DFfYpqIEybT3kIxqJ0YLf6zw0G0W_Q1zs0XVJXe9z9W50pPlW4eck&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=b6401c945fb6959056230e3585ab5051&amp;oe=5DD739FE" alt="Thekikbak" width="548.781" height="543.031">
          </div>

          <div class="carousel-item">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/64353726_2418537965044641_7481307548973268992_n.jpg?_nc_cat=101&amp;_nc_oc=AQk5tJjtHXHiGwewkwusi-6HrtbHOMz8y8vZCFesPG0CdESztVKJAgeNqMF7cjzEfpY&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=575afba58ab2f892a9e5f15d12b8d932&amp;oe=5DD5B163" alt="Shoes" width="548.781" height="543.031">
          </div>

          <div class="carousel-item">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/66148605_2436023409962763_32701868106842112_n.jpg?_nc_cat=100&amp;_nc_oc=AQnJ_j2jBTxZ8jXR3zR8EwFSQ7RGYhGqnTu8EgG0FQz7i7nSXTs4Jsc9x6G49hL-B2A&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=584a89c70b46099b0a24311f9db0273d&amp;oe=5DC7DE0A" alt="Jordan 1" width="548.781" height="543.031">
          </div>

          <div class="carousel-item">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/64963275_2427412837490487_7992286589931749376_n.jpg?_nc_cat=106&amp;_nc_oc=AQl9ysvkMY367fRDbdhcL7BkCjASig-aGZFWDVqg6uQvjwnTSisyW30UMo8-zRhTdj8&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=9a2edaa2b7a46df8bf27aac28656a8c3&amp;oe=5DE90559" alt="crew" width="548.781" height="543.031">
          </div>

          <div class="carousel-item">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/60548002_2395437714021333_721292925039804416_n.jpg?_nc_cat=107&amp;_nc_oc=AQlB6TsvW1h1Tr1RvKVnobvbnpH-0TAPRMb3QDRlCzMlLVP1xD1-sOeNWzUciyMJQUo&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=c5949000e13bd1c64221768445f6b02a&amp;oe=5DEAD0C4" alt="yeezy" width="548.781" height="543.031">
          </div>

          <div class="carousel-item">
            <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/58682416_2385013675063737_4177971085481869312_n.jpg?_nc_cat=101&amp;_nc_oc=AQkoZXuRYXKhKtcGmScJ7e9M8nXhJYsD_BTUj8qB1u5z5xlg0Mwd9LNjhjRSjffVhHc&amp;_nc_ht=scontent-lga3-1.xx&amp;oh=4a9696b33ae4cfa3b8001dc9b784360c&amp;oe=5DE1BDF0" alt="Back t-shirt logo" width="548.781" height="543.031">
          </div>

        </div>
    </div>
    <!-- Customer Carousel Ends -->

    <!-- Featured Products Begins  -->
    <br>
    <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2 featured-items-container" data-ride="carousel" style="text-align: center">

            <h2 style="color: red">Featured Products</h2>
      
      
            <!--Slides-->
            <div class="carousel-2" role="listbox" id="" classs="featured-products">
      
              <!--First slide-->
              <div class="carousel-item">
      
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/210968791/product_image.jpg?auto=format&amp;fit=max&amp;h=1200&amp;w=1200" alt="Card image cap">
                  </div>
                </div>
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/222658540/product_image.jpg?auto=format&amp;fit=max&amp;h=1000&amp;w=1000" alt="Card image cap">
                  </div>
                </div>
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/224601160/B64EC488-78E0-4112-8A1B-305E1B65DE57.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt="Card image cap">
                  </div>
                </div>
      
              </div>
              <!--/.First slide-->
      
              <!--Second slide-->
              <div class="carousel-item active">
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/222513739/product_image.jpg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt="Card image cap">
                  </div>
                </div>
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/222573289/product_image.jpg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt="Card image cap">
                  </div>
                </div>
      
                <div class="col-md-3 mb-3">
                  <div class="card">
                    <img class="img-fluid featured-items" src="https://assets.bigcartel.com/product_images/237887243/9158E338-2F45-4D4A-91D1-66AB5673C8FE.jpeg?auto=format&amp;fit=max&amp;h=1000&amp;w=1000" alt="Card image cap">
                  </div>
                </div>
      
              </div>
              <!--/.Second slide-->
      
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <div class="controls-top">
              <a class="black-text" href="#multi-item-example" data-slide="prev" style="color:black"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
              <a class="black-text" href="#multi-item-example" data-slide="next" style="color:black"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
            </div>
            <!--/.Controls-->
          </div>
    <hr>

    


<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->
<!-- ---------------------------------------- -->

<!--  -->