<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Brand New</h1>
        <div class="list-group">
          <a href="../used-9.10/page1.html" class="list-group-item">Used (9/10 Condition)</a>
          <a href="../used-8.10/page1.html" class="list-group-item">Used (8/10 Condition) </a>
          <a href="../kickback-steals/page1.html" class="list-group-item">KickBack Steals</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Grade School</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 8</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 8.5</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 9</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 9.5</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 10</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 10.5</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 11</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 11.5</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 12</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 13</a>
          <a href="../grade-school/grade-school.html" class="list-group-item">Size 14</a>

        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

      

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/237886400/BF22CC9E-A179-4AB4-A99B-5238F3F55565.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Duke Kyrie 5's</a>
                </h4>
                <h5>$165.00
                </h5>
             
              </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/233969501/B595485E-5580-4FB9-942D-1069233A9BD6.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Turbo Green 1's</a>
                </h4>
                <h5>$275.00</h5>
           
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/233969939/A3210266-370D-4E25-B7D3-5C1745BF2F4E.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">React 87 Royal Tint's</a>
                </h4>
                <h5>$300.00</h5>
               
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/233970443/E7F83FBF-6045-453A-A74A-97E323F614CF.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Mocha 3's</a>
                </h4>
                <h5>$175.00</h5>
               
              </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/233967086/7CF9AE88-EE61-4034-BEF5-2692BE266085.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">NYC Bodega Multicolor 4.0 Ultraboost's</a>
                </h4>
                <h5>$150.00</h5>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/232223921/67B0CB89-1BC1-4215-8E0F-76337BF65CD9.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Concord 11 High's</a>
                </h4>
                <h5>$350.00</h5>
               

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/232223867/291762C2-6E0B-4278-9C8D-0437093096F7.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">UNC 1 Mid Patent's</a>
                </h4>
                <h5>$200.00</h5>
               
              </div>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/231205919/E8012556-4D3F-4D0B-8C6F-FF8D8B6B6BB3.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Yeezy Cream 350 Boost V2's</a>
                </h4>
                <h5>$325.00</h5>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/224970220/B3C60F1E-7D39-47C7-A5B1-A6805EDD2A69.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Pine Green 1's</a>
                </h4>
                <h5>$300.00</h5>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/225684292/F8FBA417-EF0A-4B5F-B9F3-D175054F06D8.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Sport Blue 3’s</a>
                </h4>
                <h5>$250.00</h5>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/224029006/5581EFB6-1934-4BFF-985A-CCC8FD9AC1F2.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Deep Royal Blue 12's</a>
                </h4>
                <h5>$250.00</h5>
              </div>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://assets.bigcartel.com/product_images/224601160/B64EC488-78E0-4112-8A1B-305E1B65DE57.jpeg?auto=format&amp;fit=max&amp;h=600&amp;w=600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Homage 2 Home 1's</a>
                </h4>
                <h5>$400.00</h5>
               
              </div>
              
            
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>