


<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->

<!-- Restoration Services -->
        <table class="restoration-service">
      
          <tr>
              <td><div class="restoration-container">
                  <img class="insta" src="../../../../assets/img/Sole-Icing.jpg">
                  <div class="restoration-overlay">
                    <div class="text"><b>Sole Icing</b></div>
                  </div>
                  </div>
                </td>
      
                <td><div class="restoration-container">
                    <img class="insta" src="../../../../assets/img/Deep-cleaning.jpg">
                    <div class="restoration-overlay">
                      <div class="text"><b>Deep Cleaning</b></div>
                    </div>
                    </div>
                  </td>
      
                  <td><div class="restoration-container">
                      <img class="insta" src="../../../../assets/img/Scuff-treatment.jpg">
                      <div class="restoration-overlay">
                        <div class="text"><b>Scuff Treatment</b></div>
                      </div>
                      </div>
                    </td>
      
              <td><div class="restoration-container">
                  <img class="insta" src="../../../../assets/img/deyellowing.jpg">
                  <div class="restoration-overlay">
                    <div class="text"><b>Deyellowing</b></div>
                  </div>
                  </div>
                </td>
      
            </tr>
            <!-- ------------------------ -->
            <tr>
              <td><div class="restoration-container">
                <img class="insta" src="../../../../assets/img/Decreasing.jpg">
                <div class="restoration-overlay">
                  <div class="text"><b>Decreasing</b></div>
                </div>
                </div>
              </td>
              <td><div class="restoration-container">
                  <img class="insta" src="../../../../assets/img/Lacing.jpg">
                  <div class="restoration-overlay">
                    <div class="text"><b>Lace Cleaning</b></div>
                  </div>
                  </div>
                </td>
                <td><div class="restoration-container">
                    <img class="insta" src="../../../../assets/img/upper-repaint.jpg">
                    <div class="restoration-overlay">
                      <div class="text"><b>Upper Repaint</b></div>
                    </div>
                    </div>
                  </td>
      
                  <td><div class="restoration-container">
                      <img class="insta" src="../../../../assets/img/midsole-repaint.jpg">
                      <div class="restoration-overlay">
                        <div class="text"><b>Midsole Repaint</b></div>
                      </div>
                      </div>
                    </td>
         
        
        </table> 
    
      <!-- Restoration Ends -->

<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->
<!-- ----------------------------------------------------- -->

       
      
