<br>
<br>
<h1 style="color: red;">About Javez</h1>
<h6 style="text-align: center; color: red;">Shoe Connoisseur</h6>



<div class="row">
    <div class="col-sm-4">
        <img src="../../../../assets/img/spyro.jpg">
    </div>
    <div class="col-md-6" style="padding-top: 5%;
    text-align: center;">
        <p>Javez English is a young buisness owner.
            He is currently 23 and owns his own store,
            The Kikback in Middletown, Delaware.
        </p>
        <hr class="linebreak">
        <p>
            "Thekikback started from the ground up founded from a dream and a lot of hustle.
            We started off by delivering sneakers out of the trunk of our cars right to our customers doorsteps.
            You could contact us via social media and buy sell or trade from the fingertips of your very own phone
            Providing the best deals and customer service in the 302 to growing into a physical location full of
            sneakers."- Javez English
        </p>
    </div>
</div>


<!-- ------------ --- -->
<div class="row stats" style="text-align: center;">
    <div class="col-sm-4 stat-item" style="color: white">
        7<br> employees
    </div>
    <div class="col-sm-4 stat-item" style="color: white">
        1521<br> Customers
    </div>
    <div class="col-sm-4 stat-item" style="color: white">
        9<br> Saturday Steals Events
    </div>
</div>