<br>
<br>
<h1>About Javez</h1>

<p>Javez English is a young buisness owner.
    He is currently 23 and owns his own store,
    The Kikback in Middletown, Delaware.</p>

<div class="row">
    <div class="col-sm-4">
        <img src="../../../../assets/img/spyro.jpg">
    </div>
    <div class="col-md-6" style="padding-top: 5%;
    text-align: center;">
        <p>
            "Thekikback started from the ground up founded from a dream and a lot of hustle.
            We started off by delivering sneakers out of the trunk of our cars right to our customers doorsteps.
            You could contact us via social media and buy sell or trade from the fingertips of your very own phone
            Providing the best deals and customer service in the 302 to growing into a physical location full of
            sneakers."-Javez
        </p>
    </div>
</div>


<br>
<br>
<table style="width:100%" >
        <tr>
          <th>7<br> employees</th>
          <th>1521<br> Customers</th> 
          <th>9<br> Saturday Steals Events</th>
        </tr>
      </table>